<div id="<%= dom_id game %>">
  <p>
    <strong>Starts at:</strong>
    <%= game.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= game.ends_at %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= game.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= game.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= game.address %>
  </p>

</div>
